@page
@model IndexModel
@using Microsoft.AspNetCore.Identity

@inject IHttpContextAccessor contxt;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        Welcome back @contxt.HttpContext.Session.GetString("Email")

        <p>Your details:</p>
        <ul>
        <li>@contxt.HttpContext.Session.GetString("FirstName")</li>
        </ul>
</div>
